@charset "UTF-8";
/**
 * リセット
 */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000; }

*,
::before,
::after {
  box-sizing: inherit; }

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

summary {
  display: list-item; }

small {
  font-size: 80%; }

[hidden],
template {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

input {
  border-radius: 0; }

button,
[type="button"],
[type="reset"],
[type="submit"] [role="button"] {
  cursor: pointer; }

[disabled] {
  cursor: default; }

[type="number"] {
  width: auto; }

[type="search"] {
  -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical; }

button,
input,
optgroup,
select,
textarea {
  font: inherit; }

optgroup {
  font-weight: bold; }

button {
  overflow: visible; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button,
select {
  text-transform: none; }

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

img {
  border-style: none; }

progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden; }

audio,
canvas,
progress,
video {
  display: inline-block; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }
[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

/**
 * フォントサイズ自動rem変換
 */
/**
 * h1,h2,h3,h4,h5,h6基本定義
 */
h1 {
  font-size: 80px;
  font-size: 8rem;
  padding: 80px 0; }

h2 {
  font-size: 50px;
  font-size: 5rem;
  padding: 50px 0; }

h3 {
  font-size: 40px;
  font-size: 4rem;
  padding: 40px 0; }

h4 {
  font-size: 26px;
  font-size: 2.6rem;
  padding: 26px 0; }

h5 {
  font-size: 22px;
  font-size: 2.2rem;
  padding: 22px 0; }

h6 {
  font-size: 20px;
  font-size: 2rem;
  padding: 20px 0; }

/**
 * st-design.tokyoホーム
 */
body {
  font-family: "a-otf-ud-shin-go-pr6n"; }

#logo,
.logo {
  font-family: "pragmatica-web"; }

.home-page {
  width: 100%;
  height: 100%; }

.covervid-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.covervid-video {
  z-index: -1; }

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.arrow {
  position: absolute;
  bottom: 60px;
  left: 49%;
  padding-top: 80px;
  z-index: 2;
  display: inline-block;
  color: #fff;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  font-size: 2rem;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }
  .arrow:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  .arrow span {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    box-sizing: border-box; }
  .arrow span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .arrow span:nth-of-type(2) {
    bottom: 54px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s; }
  .arrow span:nth-of-type(3) {
    bottom: 38px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s; }
@-webkit-keyframes sdb {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
@keyframes sdb {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
.top-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 0;
  padding: 200px 0 0 100px; }
  .top-wrapper #logo {
    font-size: 80px;
    font-size: 8rem;
    color: #fff;
    margin-top: 0; }
  .top-wrapper span {
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    padding-left: 6px; }
  .top-wrapper nav {
    padding: 100px 0 0 6px; }
    .top-wrapper nav li {
      list-style: none;
      margin-bottom: 15px; }
      .top-wrapper nav li a {
        text-decoration: none;
        color: #fff;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-size: 24px;
        font-size: 2.4rem; }
        .top-wrapper nav li a:hover {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
          opacity: 0.9; }

.flex-container {
  display: flex;
  justify-content: center; }

#main {
  padding: 55px 100px; }
  #main #home-service {
    padding: 25px 0; }
    #main #home-service .title-wrapper {
      border-bottom: 1px solid #000;
      padding-bottom: 80px; }
      #main #home-service .title-wrapper h2 {
        text-align: center; }
      #main #home-service .title-wrapper p {
        font-size: 24px;
        font-size: 2.4rem;
        width: 100%;
        max-width: 600px;
        margin: auto; }
  #main .flex-item {
    margin: 30px;
    width: 50%; }
  #main .row {
    border-bottom: 1px solid #000;
    min-height: 700px; }
    #main .row .service span {
      font-size: 24px;
      font-size: 2.4rem;
      display: block;
      padding-bottom: 20px; }
    #main .row .service p {
      font-size: 24px;
      font-size: 2.4rem; }
    #main .row .img-area {
      border: 1px solid #999; }
  #main #home-news {
    padding: 25px 0;
    border-bottom: 1px solid #000; }
    #main #home-news img {
      width: 100%;
      height: auto; }
    #main #home-news h2 {
      text-align: center; }
    #main #home-news .news-area h4 {
      padding: 6px 0; }
    #main #home-news .news-area p {
      font-size: 24px;
      font-size: 2.4rem; }

#footer {
  padding: 10px 100px 20px;
  background-color: #26425C;
  color: #fff; }
  #footer .flex-container {
    align-items: center;
    height: 400px; }
    #footer .flex-container .footer-logo {
      width: 50%;
      margin-left: 30px;
      font-size: 40px;
      font-size: 4rem; }
      #footer .flex-container .footer-logo p {
        display: block;
        font-size: 20px;
        font-size: 2rem;
        text-align: left; }
  #footer .footer-contact {
    width: 25%;
    display: inline-block;
    font-size: 22px;
    font-size: 2.2rem;
    padding: 0 20px;
    height: 300px; }
    #footer .footer-contact ul {
      list-style: none; }
      #footer .footer-contact ul li {
        padding-bottom: 20px; }
      #footer .footer-contact ul a {
        display: block;
        text-decoration: none;
        color: #fff;
        text-align: center; }
      #footer .footer-contact ul .social-icon {
        display: flex;
        justify-content: center; }
  #footer .footer-address {
    width: 25%;
    display: inline-block;
    font-size: 22px;
    font-size: 2.2rem;
    padding: 0 20px;
    height: 300px; }
  #footer p {
    display: block;
    text-align: center; }
  #footer h3 {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
