@charset "utf-8";
@import "compass";

/**
 * リセット
 */

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] [role="button"] {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button {
  overflow: visible;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}


/**
 * フォントサイズ自動rem変換
 */

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


/**
 * h1,h2,h3,h4,h5,h6基本定義
 */

h1 {
  @include fontsize(80);
  padding: 80px 0;
}

h2 {
  @include fontsize(50);
  padding: 50px 0;
}

h3 {
  @include fontsize(40);
  padding: 40px 0;
}

h4 {
  @include fontsize(26);
  padding: 26px 0;
}

h5 {
  @include fontsize(22);
  padding: 22px 0;
}

h6 {
  @include fontsize(20);
  padding: 20px 0;
}


/**
 * st-design.tokyoホーム
 */

body {
  font-family: "a-otf-ud-shin-go-pr6n";
}

#logo,
.logo {
  font-family: "pragmatica-web";
}

.home-page {
  width: 100%;
  height: 100%;
}

.covervid-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.covervid-video {
  z-index: -1;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  bottom: 60px;
  left: 49%;
  padding-top: 80px;
  z-index: 2;
  display: inline-block;
  color: #fff;
  @include transition(0.5s);
  @include fontsize(20);
  text-decoration: none;
  @include opacity(0.8);
  &:hover {
    @include opacity(0.5);
  }
  span {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    @include rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    @include opacity(0);
    box-sizing: border-box;
  }
  span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  span:nth-of-type(2) {
    bottom: 54px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  span:nth-of-type(3) {
    bottom: 38px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
    0% {
      @include opacity(0);
    }
    50% {
      @include opacity(1);
    }
    100% {
      @include opacity(0);
    }
  }
  @keyframes sdb {
    0% {
      @include opacity(0);
    }
    50% {
      @include opacity(1);
    }
    100% {
      @include opacity(0);
    }
  }
}

.top-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 0;
  padding: 200px 0 0 100px;
  #logo {
    @include fontsize(80);
    color: #fff;
    margin-top: 0;
  }
  span {
    display: block;
    @include fontsize(24);
    @include opacity(0.8);
    padding-left: 6px;
  }
  nav {
    padding: 100px 0 0 6px;
    li {
      list-style: none;
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: #fff;
        @include opacity(0.5);
        @include transition(0.5s);
        @include fontsize(24);
        &:hover {
          @include opacity(0.9);
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  justify-content: center;
}

#main {
  padding: 55px 100px;
  #home-service {
    padding: 25px 0;
    .title-wrapper {
      border-bottom: 1px solid #000;
      padding-bottom: 80px;
      h2 {
        text-align: center;
      }
      p {
        @include fontsize(24);
        width: 100%;
        max-width: 600px;
        margin: auto;
      }
    }
  }
  .flex-item {
    margin: 30px;
    width: 50%;
  }
  .row {
    border-bottom: 1px solid #000;
    min-height: 700px;
    .service {
      span {
        @include fontsize(24);
        display: block;
        padding-bottom: 20px;
      }
      p {
        @include fontsize(24);
      }
    }
    .img-area {
      border: 1px solid #999;
    }
  }
  #home-news {
    padding: 25px 0;
    border-bottom: 1px solid #000;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      text-align: center;
    }
    .news-area {
      h4 {
        padding: 6px 0;
      }
      p {
        @include fontsize(24);
      }
    }
  }
}

#footer {
  padding: 10px 100px 20px;
  background-color: #26425C;
  color: #fff;
  .flex-container {
    align-items: center;
    height: 400px;
    .footer-logo {
      width: 50%;
      margin-left: 30px;
      @include fontsize(40);
      p {
        display: block;
        @include fontsize(20);
        text-align: left;
      }
    }
  }
  .footer-contact {
    width: 25%;
    display: inline-block;
    @include fontsize(22);
    padding: 0 20px;
    height: 300px;
    ul {
      list-style: none;
      li {
        padding-bottom: 20px;
      }
      a {
        display: block;
        text-decoration: none;
        color: #fff;
        text-align: center;
      }
      .social-icon {
        display: flex;
        justify-content: center;
      }
    }
  }
  .footer-address {
    width: 25%;
    display: inline-block;
    @include fontsize(22);
    padding: 0 20px;
    height: 300px;
  }
  p {
    display: block;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}
